.fieldset{
    border-radius: 50px;
}
.h{
    color: green;
}
.e{
    width: 600px;
    height: 100px;
    background-color: green;
}
.r{
    width: 600px;
    height: 100px;
    background-color: greenyellow;
    
}
.t{
    width: 105px;
    height: 20px;
}